/* Font family */
body,
.btn,
.form-control,
.nav-link,
.dropdown-menu,
.alert {
    font-family: 'Source Sans Pro', sans-serif !important;
}

/* Main */
.main-content {
    margin-top: 100px;
    min-height: 100vh;
}

/* Dropdown menu user */
.dropdown-menu {
    z-index: 3000 !important;
}

/* Footer */
#footer {
    background-color: #e3f2fd;
    padding: 16px;
}



/* Effects */
@keyframes slideInLeft {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in-left {
    animation: slideInLeft 0.6s ease-out forwards;
}

.slide-in-up {
    animation: slideInUp 0.6s ease-out forwards;
}

/* Media */
@media (max-width: 576px) {
    .navbar-collapse{
        padding: 10px;
    }
    .user-dropdown{
        text-align: start;
    }
}
