<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>


    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.7/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>

    <header th:replace="/fragments/navbar :: navbar"></header>

    <main class="main-content">

        <div class="container">
            <h1 class="mb-4">Lista Ticket</h1>
            <p>Di seguito sono riportati tutti i ticket relativi al tuo account: puoi effettuare
                una ricerca e
                cliccare sul ticket per accedere al dettaglio</p>
            <div class="row">
                <div class="col-6">
                    <form th:action="@{/admin}" method="get">
                        <div class="input-group mb-3">
                            <input type="search" class="form-control" placeholder="Digita titolo ticket per ricercare"
                                aria-label="Digita titolo ticket per ricercare" aria-describedby="button-addon2"
                                name="keyword" th:value="${keyword}">
                            <button class="btn bg-primary-subtle" type="submit" id="button-addon2"><i
                                    class="bi bi-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <nav aria-label="...">
                        <ul class="pagination pagination-sm justify-content-start">
                            <li class="page-item " th:classappend="${currentPage == 0} ? 'disabled'">
                                <a class="page-link"
                                    th:href="@{/admin(page=${currentPage - 1}, keyword=${keyword})}">&laquo;</a>
                            </li>

                            <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                th:classappend="${i == currentPage} ? 'active'">
                                <a class="page-link" th:href="@{/admin(page=${i}, keyword=${keyword})}"
                                    th:text="${i + 1}">1</a>
                            </li>

                            <li class="page-item" th:classappend="${currentPage + 1 == totalPages} ? 'disabled'">
                                <a class="page-link"
                                    th:href="@{/admin(page=${currentPage + 1}, keyword=${keyword})}">&raquo;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="mb-3 p-0">
                <a type="button" class="btn btn-primary" th:href="@{/tickets/create}"><i class="bi bi-plus-square"></i>
                    Crea</a>
            </div>
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="table-responsive" th:if="${tickets != null and !tickets.isEmpty()}">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Ticket Id</th>
                                    <th scope="col">Assegnato a</th>
                                    <th scope="col">Titolo</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Ultimo aggiornamento</th>
                                    <th scope="col">Stato</th>
                                    <th scope="col">Azioni</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr th:each="ticket : ${tickets}" class="align-middle">
                                    <td>[[*{ticket.id}]]</td>
                                    <td>[[*{ticket.user.name}]] [[*{ticket.user.surname}]]</td>
                                    <td><a th:href="@{/tickets/{id}(id=${ticket.id})}"
                                            class="text-decoration-none text-primary">[[*{ticket.title}]]</a></td>
                                    <td>[[*{ticket.category.name}]]</td>
                                    <td>[[${#temporals.format(ticket.updateDate, 'dd/MM/yyyy' + ' - ' + 'HH:mm')}]]</td>
                                    <td th:switch="*{ticket.state}">
                                        <span th:case="'Da fare'" class="badge bg-primary">Da fare</span>
                                        <span th:case="'In corso'" class="badge bg-warning text-dark">In corso</span>
                                        <span th:case="'Completato'" class="badge bg-success">Completato</span>
                                    </td>
                                    <td>
                                        <a type="button" th:href="@{/tickets/edit/{id}(id=${ticket.id})}"
                                            class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil-fill"></i></a>
                                        <button type="button" class="btn btn-sm btn-outline-primary"
                                            data-bs-toggle="modal" data-bs-target="#deleteModal">
                                            <i class="bi bi-trash-fill"></i>
                                        </button>

                                        <div class="modal fade" id="deleteModal" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content" th:object="${ticket}">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminazione
                                                            del ticket #[[*{id}]] - [[*{title}]]</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Sei sicuro di voler eliminare il ticket con id: [[*{id}]] ?
                                                    </div>
                                                    <div class="modal-footer justify-content-between">
                                                        <form th:action="@{'/tickets/delete/{id}'(id=${ticket.id})}"
                                                            method="post">
                                                            <button type="submit"
                                                                class="btn btn-danger">Elimina</button>
                                                        </form>
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Chiudi</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div th:unless="${tickets != null and !tickets.isEmpty()}">
                    <p class="text-center text-muted">Non ci sono tickets salvati attualmente.</p>
                </div>
            </div>
        </div>







    </main>



    <footer th:replace="/fragments/footer :: footer"></footer>
</body>

</html>